@font-face {
    font-family: Lora;
    src: url("../font/SansitaSwashed-Bold.ttf");
}

@font-face {
    font-family: Montserra;
    src: url("../font/Montserrat-Black.tff");
}

html,
body {
    margin: 15px 0 0 0;
    scroll-behavior: smooth;
}

p,
span,
textarea,
input,
label,
li,
ul,
table,
a {
    font-family: Lora;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserra;
 
}

.nav-logo {
    padding: 10px 60px 10px 60px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    background-color: #caeaf4c2;
    width: 100%;
    height: 52px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 17px 0px 0px 10px;
}

nav li {
    display: inline;
    background-color: #1DA4D1;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
}

nav li:first-child{
    margin-right: 20px;
}

nav li a {
    color: white;
    text-decoration: transparent;
}

nav li a:visited {
    color: white;
}



/* DIV PRINCIPAL */

#container-home {
    width: 100%;
    height: 600px;
    background: url(../img/bg-home.jpg);
    background-repeat: no-repeat;
    background-position-y: -215px;
}

#container-body {
    width: 100%;
    height: auto;
    background-color: black;
}

#container-intro {
    width: 99%;
    height: 500px;
    background-color: white;
    margin: 0 auto;
}

#container-tech {
    width: 99%;
    height: 850px;
    background-color: orange;
    margin: 0 auto;
}

#container-tech-head {
    width: 99%;
    height: 350px;
    background-color: green;
    margin: 0 auto;
}

#container-tech-body {
    margin: 0 auto;
    width: 99%;
    height: 500px;
    background-color: blue;
    margin: 0 auto;
}

#container-autopilot {
    width: 99%;
    height: 850px;
    background-color:white;
    margin: 0 auto;
}

#container-autopilot-head {
    width: 99%;
    height: 350px;
    background-color:white;
    margin: 0 auto;
    text-align: center;
}

#container-autopilot-body {
    width: 99%;
    height: 500px;
    background-color:white;
    margin: 0 auto;
}

#container-autopilot-menu-collapse {
    width: 99%;
    height: 100px;
    margin: 0 auto;
    background-color: grey;
}

#container-menu-collapse {
    width: 99%;
    height: 900px;
    margin: 0 auto;
    background-color: darkgrey;
}

#container-menu-collapse-1 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #13242A;
}

#container-menu-collapse-2 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #264580;
}

#container-menu-collapse-3 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #13242A;
}

#container-img-slide {
    width: 99%;
    height: 1000px;
    margin: 0 auto;
    background-color: #32200b;
}

#container-footer-left {
    width: 50%;
    height: 600px;
    background-color: darkred;
    float: left;
}

#container-footer-right {
    width: 50%;
    height: 600px;
    background-color: darkviolet;
    float: left;
}
.autopilotTitle{
    width: 30%;
    height:50px;
    margin-left: 35%;
    margin-right: 35%;


}
.autopilotText {
    width: 60%;
    margin-left: 20%;
    margin-right:20%;
    height: 200px;
    text-align: center;

}
.autopilotImage {
    background-image:url("https://www.usinenouvelle.com/mediatheque/7/6/7/000476767_image_896x598/vehicule-autonome.jpg");
    width:30% ;
    margin-left:100px ;
    margin-right: 100px;
    height:300px;
    float: left;
    margin-top: 6%;
    border-radius: 7px;
}
.autopilotText2 {
    width: 40%;
    margin-left: 200px;
    margin-left: 200px;
    height: 300px;
    text-align: center;
    float:right;
    margin-top: 5%;
}
/*------DIV CLASS -----*/

.introTitle {
    width: 50%;
    height: 100px;
    font-size: 40px;
    margin-left: 40%;
    margin-top: 50px;
    font-weight: bold;
    float: left;
}
.introText {
    width: 70%;
    height: 250px;
    margin: 0 15% 0 15%;
    text-align: justify;
    font-size: 25px;
    border-left: 0.2em solid #13495B;
    padding-left: 30px;
    float: left;
}
