@font-face {
    font-family: Lora;
    src: url("../font/SansitaSwashed-Bold.ttf");
}

@font-face {
    font-family: Montserra;
    src: url("../font/Montserrat-Black.tff");
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
}

p,
span,
textarea,
input,
label,
li,
ul,
table,
a {
    font-family: Lora;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserra;
}

.nav-logo {
    padding: 10px 60px 10px 60px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 10px;
}

nav li {
    display: inline;
    background-color: grey;
    border-radius: 1px;
    padding: 18px 15px 18px 15px;
}

nav li a {
    color: white;
    text-decoration: transparent;
}

nav li a:visited {
    color: white;
}



/* DIV PRINCIPAL */

#container-home {
    width: 100%;
    height: 600px;
    background: url(../img/bg-home.jpg);
    background-repeat: no-repeat;
    background-position-y: -215px;
}

#container-body {
    width: 100%;
    height: auto;
    background-color: black;
}

#container-intro {
    width: 99%;
    height: 500px;
    background-color: white;
    margin: 0 auto;
}

#container-tech {
    width: 99%;
    height: 850px;
    background-color: orange;
    margin: 0 auto;
}

#container-tech-head {
    width: 99%;
    height: 350px;
    background-color: green;
    margin: 0 auto;
}

#container-tech-body {
    margin: 0 auto;
    width: 99%;
    height: 500px;
    background-color: blue;
    margin: 0 auto;
}

#container-autopilot {
    width: 99%;
    height: 850px;
    background-color: brown;
    margin: 0 auto;
}

#container-autopilot-head {
    width: 99%;
    height: 350px;
    background-color: green;
    margin: 0 auto;
}

#container-autopilot-body {
    width: 99%;
    height: 500px;
    background-color: blue;
    margin: 0 auto;
}

#container-autopilot-menu-collapse {
    width: 99%;
    height: 100px;
    margin: 0 auto;
    background-color: grey;
}

.content {
    background-color: darkgrey;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    display: none;

}
/*
#container-menu-collapse-1 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #13242A;
}

#container-menu-collapse-2 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #264580;
}

#container-menu-collapse-3 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #13242A;
}*/

#container-img-slide {
    width: 99%;
    height: 1000px;
    margin: 0 auto;
    background-color: #32200b;
    display: block;
}

#container-footer-left {
    width: 50%;
    height: 600px;
    background-color: darkred;
    float: left;
}

#container-footer-right {
    width: 50%;
    height: 600px;
    background-color: darkviolet;
    float: left;
}
/*------DIV CLASS -----*/

.introTitle {
    width: 50%;
    height: 100px;
    font-size: 40px;
    margin-left: 40%;
    margin-top: 50px;
    font-weight: bold;
    float: left;
}
.introText {
    width: 70%;
    height: 250px;
    margin: 0 15% 0 15%;
    text-align: justify;
    font-size: 25px;
    border-left: 0.2em solid #13495B;
    padding-left: 30px;
    float: left;
}

/*-----MENU DEROULANT------*/


.collapsible {
    background-color:#13495B ;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
  }
  
  .active, .collapsible:hover {
    background-color: #95D4E9;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }

.image-content-1 {
    width: 35%;
    height: 250px;
    background-color: #353535;
}
.image-content-2 {
    width: 35%;
    height: 250px;
    background-color: #353535;
}
.image-content-3 {
    width: 35%;
    height: 250px;
    background-color: #353535;
}
.content-1 {
    width: 100%;
    height: 300px;
    float: left;
    background-color: #353535;
}  
.content-2 {
    border-top:0.3em solid #13495B ;
    width: 100%;
    height: 300px;
    float: left;
    background-color: #353535;
}
.content-3 {
    border-top:0.3em solid #13495B;
    width: 100%;
    height: 300px;
    float: left;
    background-color: #353535;
}
.content-text1 {
    margin-top: 50px;
    width: 30%;
    height: 250px;
    float: left;
    text-align: justify;
    margin-left: 10%;
    padding-right: 30px;
    font-size: 15px;
    color: #f5f5f5;
}
.content-text2 {
    color: #f5f5f5;
    margin-top: 80px;
    width: 30%;
    height: 250px;
    float: left;
    text-align: justify;
    margin-left: 10%;
    padding-right: 30px;
}
.content-text3 {
    color: #f5f5f5;
    margin-top: 70px;
    width: 30%;
    height: 250px;
    float: left;
    text-align: justify;
    margin-left: 10%;
    padding-right: 30px;
}
.content-title {
    color: #f5f5f5;
  padding-left: 20px;
  margin-right: 50rem;
  margin: 0;
}
    

