@font-face {
    font-family: Lora;
    src: url("../font/SansitaSwashed-Bold.ttf");
}

@font-face {
    font-family: Montserra;
    src: url("../font/Montserrat-Black.tff");
}

html,
body {
    margin: 15px 0 0 0;
    scroll-behavior: smooth;
}

p,
span,
textarea,
input,
label,
li,
ul,
table,
a {
    font-family: Lora;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserra;
    text-align: center;
}

.nav-logo {
    padding: 10px 60px 10px 60px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    background-color: #caeaf4c2;
    width: 100%;
    height: 52px;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 17px 0px 0px 10px;
}

nav li {
    display: inline;
    background-color: #1DA4D1;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
}

nav li:first-child{
    margin-right: 20px;
}

nav li a {
    color: white;
    text-decoration: transparent;
}

nav li a:visited {
    color: white;
}



/* DIV PRINCIPAL */

#container-home {
    width: 100%;
    height: 600px;
    background: url(../img/bg-home.jpg);
    background-repeat: no-repeat;
    background-position-y: -215px;
}

#container-body {
    width: 100%;
    height: auto;
    background-color: black;
}

#container-intro {
    width: 99%;
    height: 500px;
    background-color: white;
    margin: 0 auto;
}

#container-tech {
    width: 99%;
    height: 850px;
    background-color: orange;
    margin: 0 auto;
}

#container-tech-head {
    width: 99%;
    height: 350px;
    background-color: green;
    margin: 0 auto;
}

#container-tech-body {
    margin: 0 auto;
    width: 99%;
    height: 500px;
    background-color: blue;
    margin: 0 auto;
}

#container-autopilot {
    width: 99%;
    height: 850px;
    background-color:white;
    margin: 0 auto;
}

#container-autopilot-head {
    width: 99%;
    height: 350px;
    background-color:white;
    margin: 0 auto;
    text-align: center;
}

#container-autopilot-body {
    width: 99%;
    height: 500px;
    background-color:white;
    margin: 0 auto;
}

#container-autopilot-menu-collapse {
    width: 99%;
    height: 100px;
    margin: 0 auto;
    background-color: grey;
}

#container-menu-collapse {
    width: 99%;
    height: 900px;
    margin: 0 auto;
    background-color: darkgrey;
}

#container-menu-collapse-1 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #13242A;
}

#container-menu-collapse-2 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #264580;
}

#container-menu-collapse-3 {
    width: 99%;
    height: 300px;
    margin: 0 auto;
    background-color: #13242A;
}

#container-img-slide {
    width: 100%;
    height: 500px;
    padding: 1rem;
    background-color: #32200b;
    position: relative;
    margin: 0 auto;
}

#container-footer-left {
    width: 50%;
    height: 425px;
    background-color: darkred;
    float: left;
}

#container-footer-right {
    width: 50%;
    height: 425px;
    background-color: darkviolet;
    float: left;
}
.autopilotTitle{
    width: 30%;
    height:50px;
    margin-left: 35%;
    margin-right: 35%;
}

.autopilotText {
    width: 60%;
    margin-left: 20%;
    margin-right:20%;
    height: 200px;
    text-align: center;

}
.autopilotImage {
    background-image:url("https://www.usinenouvelle.com/mediatheque/7/6/7/000476767_image_896x598/vehicule-autonome.jpg");
    width:30% ;
    margin-left:100px ;
    margin-right: 100px;
    height:300px;
    float: left;
    margin-top: 6%;
    border-radius: 7px;
}
.autopilotText2 {
    width: 40%;
    margin-left: 200px;
    margin-left: 200px;
    height: 300px;
    text-align: center;
    float:right;
    margin-top: 5%;
}
/*------DIV CLASS -----*/

.introTitle {
    width: 50%;
    height: 100px;
    font-size: 40px;
    margin-left: 40%;
    margin-top: 50px;
    font-weight: bold;
    float: left;
}
.introText {
    width: 70%;
    height: 250px;
    margin: 0 15% 0 15%;
    text-align: justify;
    font-size: 25px;
    border-left: 0.2em solid #13495B;
    padding-left: 30px;
    float: left;
}

/* SLIDE PHOTO */
* {box-sizing:border-box}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

.mySlides img {
    max-height: 480px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #424242;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* SLIDE PHOTO */
#container-footer-right ul {
    list-style-type: none;
    text-align: center;
}
#container-footer-right ul:first-child {
    columns: 2;
}

#container-footer-right ul:first-child>li>input {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-top: 3px;
    margin-bottom: 10px;
}
#container-footer-right textarea {
    display: block;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 10px;
    width: 80%;
    height: 5rem;
    border-radius: 0.5rem;
}

.btnSubmit {
    width: 15rem;
    height: 2rem;
    border-radius: 1.2rem;
}
