/* SCROLLBAR */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* FIN SCROLLBAR */


/* BOUTON POUR REMONTER */

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #87CFE7;
    color: white;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    transition: opacity 1s ease-out;
    border-radius: 4px;
}

#scrollBtn:hover {
    background-color: #1DA4D1;
}

#scrollBtn i {
    margin-left: 0;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


/* FIN BOUTON POUR REMONTER */

@font-face {
    font-family: Lora;
    src: url("../font/SansitaSwashed-Bold.ttf");
}

@font-face {
    font-family: Montserra;
    src: url("../font/Montserrat-Black.tff");
}

html,
body {
    margin: 15px 0 0 0;
    scroll-behavior: smooth;
    height: auto;
    overflow-x: hidden;
}

p,
span,
textarea,
input,
label,
li,
ul,
table,
a {
    font-family: Lora;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserra;
    text-align: center;
    font-weight: bold;
}

.nav-logo {
    padding: 10px 60px 10px 60px;
    background-image: url("../img/nav-logo.png");
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
}

nav {
    position: fixed;
    top: 0;
    background-color: #caeaf4c2;
    width: 100%;
    height: 52px;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 17px 0px 0px 10px;
}

nav li {
    display: inline;
    background-color: #1DA4D1;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    transition: 0.3s;
}

nav li:first-child {
    margin-right: 20px;
}

nav li a {
    color: white;
    text-decoration: transparent;
}

nav li:hover {
    background-color: #167794b7;
    text-decoration: transparent;
}

nav li a:visited {
    color: white;
}

.select {
    background-color: rgb(39, 109, 131);
    color: #87CFE7;
}


/* DIV PRINCIPAL */

#container-home {
    width: 100%;
    height: 600px;
    background: url(../img/bg-home.jpg);
    background-repeat: no-repeat;
    background-position-y: -215px;
}

#container-body {
    width: 100%;
    height: auto;
}

#container-intro {
    width: 100%;
    height: 500px;
    background-color: white;
    margin: 0 auto;
}

#container-tech {
    width: 100%;
    height: 850px;
    background-color: #1B93BB;
    margin: 0 auto;
    font-size: 25px;
    font-family: Lora;
    padding-top: 20px;
    padding-bottom: 30px;
}

#container-tech-head {
    width: 100%;
    height: 350px;
}
#container-tech-head p {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    border-left: 0.2rem solid #13495B;
    padding-left: 20px;
    text-align: center;
    color: #fff
}
#container-tb-left img {
    border-radius: 1.2rem;
}
#container-tech-body {
    width: 100%;
    height: 500px;
    font-size: 20px;
    text-align: center;
}
#container-tech-body p{
    padding-top: 50px;
    color: #fff
}
#container-tb-left{
width: 700px;
height: 467px;
margin-left: 5%;
float: left;
}
#container-tb-right{
    float: right;
    width: 40%;
    height: 400px;
    margin-right: 5%;
}
.container-tb-right p{
    font-size: 25px;
    text-align: justify;
}
#container-autopilot {
    width: 100%;
    min-height: 700px;
    height: auto;
    padding-bottom: 25px;
    background-color: #1982A5;
    padding-top: 20px;
    padding-bottom: 30px;
}

#container-autopilot-head {
    height: auto;
    text-align: justify;
    font-size: 25px;
    padding-left: 30px;
    float: left;
}

#container-autopilot-body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 25px;
    font-family: Lora;
    float: left;
}

#container-autopilot-menu-collapse {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: grey;
}

.content {
    background-color: darkgrey;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    display: none;
}

#container-img-slide {
    width: 100%;
    height: 500px;
    min-height: 500px;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #113845;
    display: block;
}

#container-img-left {
    width: 5%;
    height: 90%;
    float: left;
}

#container-img-center {
    width: 90%;
    height: 90%;
    float: left;
}

#container-img-right {
    width: 5%;
    height: 90%;
    float: left;
}

#container-img-bottom {
    width: 100%;
    height: 10%;
    float: left;
}

#container-footer-left {
    width: 50%;
    height: 425px;
    float: left;
    padding-top: 10px;
}
.logoFooter {
    text-align:center;
    margin: 0 auto;
    height: 105px;
}
.textFooter {
    width: 100%;
    height: 250px;
}
.textFooter p {
    text-align: center;
    margin-top: 50px
}
.bottomFooter {
    width: 100%;
    height: 19px;
    text-align: center;
}
.titleFooter {
    margin-top: 25px;
}
#container-footer-left ul {
    margin: 3.5rem;
    font-size: xx-large;
}
/*FOOTER RIGHT*/
#container-footer-right {
    width: 50%;
    height: 425px;
    float: left;
    background: transparent;
}

.autopilotTitle {
    width: 100%;
    height: 50px;
    font-size: 40px;
    float: left;
    margin-bottom: 30px;
}

.autopilotText {
    width: 80%;
    margin-left: 10%;
    height: 250px;
    text-align: center;
    font-size: 20px;
}
.autopilotText p {
    border-left: 0.2rem solid #13495b;
    padding-left: 30px;
    color: #fff;
}
.autopilotImage {
    background-image: url("https://www.usinenouvelle.com/mediatheque/7/6/7/000476767_image_896x598/vehicule-autonome.jpg");
    width: 30%;
    height: 300px;
    margin-left: 100px;
    float: left;
    margin-top: 6%;
    border-radius: 7px;
}

.autopilotText2 {
    width: 50%;
    height: 270px;
    margin-left: 100px;
    text-align: center;
    float: left;
    margin-top: 5%;
    padding-left: 35px;
    font-size: 20px;
}

.autopilotText2 p {
    margin-right: 10rem;
    margin-top: 70px;
    padding-left: 30px;
    border-left: 0.2rem solid #13495b;
    color: #fff;
}
.autopiloth3 {
    margin: 0 auto;
}

/*------DIV CLASS -----*/

.introTitle {
    width: 100%;
    height: 100px;
    font-size: 40px;
    float: left;
}
.introTitle h1 {
    margin-top: 50px;
    font-size: 40px;
}

.introText {
    width: 70%;
    height: 250px;
    margin: 50px 15% 0 15%;
    text-align: justify;
    font-size: 25px;
    border-left: 0.2em solid #13495B;
    padding-left: 30px;
    float: left;
}


/*-----MENU DEROULANT------*/

.collapsible {
    background-color: #95D4E9;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
}

.activecollapse,
.collapsible:hover {
    background-color: #13495B;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.activecollapse:after {
    content: "\2212";
}

.image-content-1 {
    width: 35%;
    height: 250px;
    background-color: #353535;
}

.image-content-2 {
    width: 35%;
    height: 250px;
    background-color: #353535;
}

.image-content-3 {
    width: 35%;
    height: 250px;
    background-color: #353535;
}

.content-1 {
    width: 100%;
    height: 300px;
    float: left;
    background-color: #353535;
}

.content-2 {
    border-top: 0.3em solid #13495B;
    width: 100%;
    height: 300px;
    float: left;
    background-color: #353535;
}

.content-3 {
    border-top: 0.3em solid #13495B;
    width: 100%;
    height: 300px;
    float: left;
    background-color: #353535;
}

.content-text1 {
    margin-top: 50px;
    width: 30%;
    height: 250px;
    float: left;
    text-align: justify;
    margin-left: 10%;
    padding-right: 30px;
    font-size: 15px;
    color: #f5f5f5;
}

.content-text2 {
    color: #f5f5f5;
    margin-top: 80px;
    width: 30%;
    height: 250px;
    float: left;
    text-align: justify;
    margin-left: 10%;
    padding-right: 30px;
}

.content-text3 {
    color: #f5f5f5;
    margin-top: 70px;
    width: 30%;
    height: 250px;
    float: left;
    text-align: justify;
    margin-left: 10%;
    padding-right: 30px;
}

.content-title {
    color: #f5f5f5;
    padding-left: 20px;
    margin-right: 50rem;
    margin: 0;
}


/* SLIDE PHOTO */


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    position: relative;
    top: 45%;
    cursor: pointer;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    float: right;
}

.next {
    border-radius: 3px 0 0 3px;
    float: left;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: black;
    color: white;
}



/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #888;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotPosition {
    text-align: center;
    height: 100%;
    margin: 0;
    position: relative;
    top: 40%;
}

.active,
.dot:hover {
    background-color: #333;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* SLIDE PHOTO */

#container-footer-right ul {
    list-style-type: none;
    text-align: center;
}

#container-footer-right ul:first-child {
    columns: 2;
}

#container-footer-right ul:first-child>li>input {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-top: 3px;
    margin-bottom: 10px;
}

#container-footer-right textarea {
    display: block;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 10px;
    width: 80%;
    height: 5rem;
    border-radius: 0.5rem;
}

.btnSubmit {
    width: 15rem;
    height: 2rem;
    border-radius: 1.2rem;
}
